//_variables.scss
$white-color: #ffffff;
$blue-color: rgb(21, 36, 154);
$light-blue-color: rgb(133, 183, 228);
$midle-blue-color: #4f8fd3;
$shadow-gray-color: #414141;
$light-gray-color: #f9f9f9;
$hover-color: #1eb300;
$text-color: rgb(245, 245, 249);
